{{#if posts.length}}
<header class="d-flex justify-content-center mt-5">
    <h2>Your Posts</h2>
</header>
{{#each posts as |post|}}
<div id="post-list" class="card mt-3">
    <article class="card-body">
        <h3>{{title}}</h3>
        <div>
            <strong>Posted on {{format_date created_at}}</strong>
        </div>
        <button type="submit" class="btn btn-primary mt-2"><a href="dashboard/edit/{{post.id}}" class="text-decoration-none text-light">Edit Post</a></button> 
    </article>
</div>
{{/each}}
{{else}}
<section class="d-flex justify-content-center mt-5">
    <p>You don't have any posts yet. Click below to add your first one!</p>
</section>
{{/if}}

<div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary"><a href="dashboard/create" class="text-light text-decoration-none">Create New Post</a></button>
</div>
