{{#if posts.length}}
<section id="post-list">
    <h2>Your Posts</h2>
    <ul>
    {{#each posts as |post|}}
        <ul>
            <article>
                <div>
                    <p>{{title}}</p>
                </div>
                <div>
                    <strong>Posted on {{format_date created_at}}</strong>
                </div>
            </article>
            <button data-id="{{post.id}}" id="delete">Delete</button>
        </ul>
    {{/each}}    
    </ul>
</section>
{{else}}
<section>
    <h2>You don't have any posts yet. Click below to add your first one!</h2>
</section>
{{/if}}

<div>
    <button type="submit"><a href="dashboard/create">Create New Post</a></button>
</div>

<script src="/js/deletePost.js"></script>