<section>
{{#each posts as |post|}}
<article class="card">
    <a href="/post/{{post.id}}">
        <header>{{post.title}}</header>
        <div>
            <strong>Posted on {{format_date created_at}}</strong>
        </div>
    </a>
</article>
{{/each}}
</section>