<div class="card m-5">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login" class="form-label">Username</label>
      <input type="text" id="username-input-login" class="form-control mb-2"/>
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" class="form-control" />
    </div>
    <div class="mt-4">
      <button type="submit" id="login-btn" class="btn me-1 text-light">Login</button>
      <span>or</span>
      <button class="btn ms-1" id="purpleBtn">
        <a class="text-light text-decoration-none" href="/signup">Sign Up</a>
      </button>
    </div>
  </form>
</div>


<script src="/js/login.js"></script>