<section>
  <h2>Create New Post</h2>
  <form id="newPostForm">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input id="blog-title" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Content</label>
      <textarea id="blog-content" class="form-control"></textarea>
    </div>
    <button type="submit" id="create" class="btn btn-primary">Submit</button>
  </form>
</section>

<script src="/js/createPost.js"></script>