<div class="card m-5">
  <div class="card-header">
    <h2>Create a New Post</h2>
  </div>
  <form id="newPostForm" class="card-body">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input id="blog-title" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Content</label>
      <textarea id="blog-content" class="form-control"></textarea>
    </div>
    <button type="submit" id="create" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="/js/createPost.js"></script>