<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input class="form-control">
    <div class="form-text">Title</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Type your content here</label>
    <input class="form-control">
  </div>
  <button type="submit" id="create" class="btn btn-primary">Submit</button>
</form>