body {
    background: #120052;
}

.commentCard {
    background: #120052;
}

#login-btn {
    background: #120052;
}

#signup-btn {
    background: #120052;
}

#purpleBtn {
    background: #120052;
}

#delete {
    background: #120052;
}

#update {
    background: #120052;
}
